/work/chapter-01/prime1/nbproject/private/
/work/chapter-01/prime1/build/
/work/chapter-03/prime3-1/nbproject/private/
/work/chapter-03/autoSuggestion/nbproject/private/
/work/chapter-03/autoSuggestion/build/
/work/chapter-03/autoSuggestion/dist/
/work/chapter-03/prime2/nbproject/private/